button {
  border: none !important;
  padding: 10px !important;
  background-color: white !important;

}

img {
  border-radius: 18px !important;
}

.img_top {
  width:100%;
}

@media (min-width:1199.98px) {
  .img_top {
    width: 500px;
    height: 400px;
  }
}
@media (min-width:1399.98px) {
  .img_top {
    width: 100%;
  }
}